<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.getcatch.android.ui.activities.tofu.TOFUActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.getcatch.android.ui.activities.checkout.CatchCheckoutActivity"
            android:theme="@style/Theme.Transparent" />
    </application>
</manifest>
